{
  "ignorePatterns": [
    "node_modules",
    "dist"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "vue"
  ],
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off"
  }
}
